{% extends 'base.html' %}
{% block content %}



{% for m in messages_home %}
      <div class="col m12 col s12">
        <div class="box-blue">
          <img class="pull-right" ng-src="{{message.imageUrl}}" />
          <p>{{ m.body}}</p>
          <div class ="grey-text text-darken-3">
            <strong>{{m.user.username}}</strong>&nbsp;
            <span class="date">{{m.date}}</span>
            <a class="btn-floating btn-small waves-effect waves-light transparent right"><i class="material-icons">delete</i></a>
          </div>
          
        </div>       
      </div>
{% endfor %}

{% for a in messages_away %}
      <div class="col m12 col s12">
        <div class="box-gray">
          <img class=" pull-left" ng-src="{{message.imageUrl}}"/>
          <p>{{ a.body}}</p>
        <div class ="grey-text text-darken-3">
            <strong>{{ a.user.username}}</strong>&nbsp;
            <span class="date">{{a.date}}</span>
            <a class="btn-floating btn-small waves-effect waves-light transparent left"><i class="material-icons">delete</i></a>
          </div> 
        </div>

      </div> 
    
 {% endfor %}       

 <div style ="height:50px"></div>
    
  

    <div class="row">
      <form method="POST" action="/chatapp/channels/submit_message/" style="display:inherit">
         {% csrf_token %}
        <div class="col s11" >
          <input class="form-control grey-text text-lighten-2"  type="text" name="body" placeholder="Write a message"/>
          <input type="hidden" name="channel_id" value="{{ channel.id }}" />
        </div>
        <div class="col s1" >
          <button type="submit" ><i class="material-icons">send</i></button>
        </div>
      </form>
    </div>

 

{% endblock %}